.box-topup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  
  min-height: 450px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}

.box-topup h1 {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.box-topup .box-input {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}


.box-topup input,
.box-topup select {
  font-size: 1rem;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.2s ease-in-out;
}

.box-topup input:focus,
.box-topup select:focus {
  border-color: #007bff;
  outline: none;
}

.box-topup .box-countries {
  position: relative;
}

.box-topup .hideAutoComplete {
  display: none;
}

.box-topup .showAutoComplete {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  margin-top: 120px;
  margin-left: -100px;
  width: 250px;
  background-color: white;
  z-index: 999;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.box-topup .showAutoComplete p {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #f1f1f1;
}

.box-topup .showAutoComplete p:hover {
  background-color: #f0f0f0;
}

.box-topup .showAutoComplete p:nth-child(even) {
  background-color: #f9f9f9;
}

.box-topup .error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.box-topup button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.box-topup button[type="submit"]:hover {
  background-color: #0056b3;
}


@media (max-width: 480px) {
  .box-topup {
    padding: 15px;
  }

  .box-topup input,
  .box-topup select {
    font-size: 1rem;
    padding: 10px;
  }
}
