* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
  --lightPrimary: #f9fafb;
  --lightSegundary: #e5e7eb;
  --white: #ffffff;
  --blueSegundary: #007bff;
}

