* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-right: 10px;
}

.container-home .box-central {
  display: flex;
  flex-direction: column;
  width: calc(100% - 270px);
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  overflow: auto;
}

.container-home .box-central .box-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 100px;
  margin-bottom: 20px;

}

.container-home .box-central .box-filter .box-search {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}
.container-home .box-central .box-filter .box-search .box-input-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

.container-home .box-central .box-filter .box-search .box-input-svg input {
  padding-left: 15px;
}

.container-home .box-central .box-filter .box-search .box-input-svg .icon-search {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: gray;
}

.container-home .box-central .box-filter .box-search .filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--lightPrimary);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.container-home .box-central .box-filter .box-search .filter:hover {
  background-color: var(--lightSegundary);
}

.container-home .box-central .box-filter .box-search .filter svg {
  margin-right: 10px;
}