/* Container principal */
.recent-transactions {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  padding: 25px;
}

/* Cabeçalho da seção */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 20px;
  color: var(--dark);
  padding: 0;
  margin-bottom: 50px;
}

/* Link "Ver todos" */
.view-all {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 500;
}

/* Área de busca e filtros */
.box-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.box-search > input[type='date'] {
  width: 200px;
  max-width: 100%;
  margin: 0 10px;
}

.box-search .box-input-svg > input[type='search'] {
  width: 350px;
  max-width: 100%;
  margin-right: 15px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Botão de filtro */
.filter {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

/* Lista de transações */
.transaction-list {
  list-style: none;
  padding-bottom: 25px;
  margin: 25px;
  border-bottom: 2px solid #2b2e2e;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 2rem;
  border-bottom: 1px solid #eee;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.transaction-item:hover {
  background-color: #dddddd !important;
}

.transaction-item:nth-child(even) {
  background-color: var(--light);
}

.transaction-item:last-child {
  border-bottom: none;
}

/* Informações da transação */
.transaction-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending {
  color: var(--danger);
  display: inline;
  padding: 2px 5px;
  border-radius: 3px;
  margin: auto;
  background-color: yellow;
  vertical-align: bottom;
  font-weight: 500;
  text-transform: capitalize;
}

.failed {
  color: white;
  display: inline;
  padding: 2px 5px;
  border-radius: 3px;
  margin: auto;
  background-color: var(--danger);
  /* vertical-align: bottom; */
  font-weight: 500;
  text-transform: capitalize;
}

.completed {
  color: white;
  display: inline;
  padding: 2px 5px;
  border-radius: 3px;
  margin: auto;
  background-color: var(--accent);
  vertical-align: bottom;
  font-weight: 500;
}

.cashOut {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: var(--danger);
}

.cashIn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: var(--accent);
}

.transaction-icon span {
  padding: 0 8px;
}

.transaction-details {
  margin-left: 25px;
}

.transaction-details h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.transaction-details p {
  font-size: 13px;
  color: #2b2e2e;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

/* Botão de ver fatura */
.show-invoice {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Cores positivas/negativas */
.positive {
  color: var(--accent);
}

.negative {
  color: var(--danger);
}

/* Cards de estatísticas */
.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.stat-title {
  font-size: 16px;
  color: #7f8c8d;
}

.stat-icon {
  width: 40px;
  height: 40px;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 5px;
}

.stat-change {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.increase {
  color: var(--accent);
}

.decrease {
  color: var(--danger);
}

/* Botão "Carregar mais" */
.load-more {
  margin: 3rem;
  text-align: right;
}

.load-more button {
  padding: 15px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  transition: background-color 0.3s;
}

.load-more button:hover {
  opacity: 0.6;
}
