.box-pin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.551);
  z-index: 100;
}

.body-modal {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px;
    width: 350px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digit-value {
    color: #000000;
    font-weight: bolder;    
    border: 2px solid red;
    margin: 0 8px;
    font-size: 2.5rem;
    border-radius: 5px;
    width: 100%;
    height: 70%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
