.welcome-banner {
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  color: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.balance-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 200px;
  display: flex;
  align-items: center;
}

.balance-card svg {
  color: black;
  margin-left: 10px;
  font-size: 45px;
}

.balance-label {
  font-size: 14px;
  color: var(--dark);
  margin-bottom: 10px;
}

.balance-amount {
  font-size: 24px;
  font-weight: bold;
  color: var(--accent);
}
