header {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: sticky;
  width: calc(100vw - 300px);
  padding: 2px 15px;
  height: 110px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  position: absolute;
  top: 0;
  margin-right: 20px;
  padding-right: 50px;
  z-index: 5;
}

header .box-left {
  display: flex;
  flex-direction: column;
  background-color: var(--lightsegundary);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

header .box-left:hover {
  background-color: var(--lightPrimary);
}

header .box-left .amount-solde {
  display: flex;
  width: 100%;
  justify-content: center;
}

header .box-left .amount-solde svg {
  margin-left: 10px;
}

header .box-left strong {
  font-size: 1rem;
  text-align: center;
}

header .box-left span {
  font-size: 1.1rem;
  color: #707070;
  width: 150px;
 text-align: center;
}

header .box-right {
  display: flex;
  flex-direction: row;
}

header .box-right button {
  margin: 0 10px;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  background-color: var(--blueSegundary);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

header .box-right button:hover {
  opacity: 0.8;
}

header .box-right button svg {
  margin-right: 10px;
}

header .box-right button span {
  font-size: 1rem;
}